[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/Nvim-R"]
	path = bundle/Nvim-R
	url = git://github.com/jalvesaq/Nvim-R.git
[submodule "bundle/vim-grammarous"]
	path = bundle/vim-grammarous
  url = git://github.com:rhysd/vim-grammarous.git
[submodule "bundle/vim-parinfer"]
  path = bundle/vim-parinfer
  url = git://github.com/bhurlow/vim-parinfer.git
[submodule "bundle/vimwiki"]
  path = bundle/vimwiki
  url = git://github.com/vimwiki/vimwiki.git
[submodule "bundle/vlime"]
  path = bundle/vlime
  url = git://github.com/vlime/vlime.git
